@page "/get-users"
@using HandsOnBlazorNavigationAndRouting.Models
@inject HandsOnBlazorNavigationAndRouting.Services.UserService UserService
<div class="container">
    <h3 class="mb-4">User List</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    List<User> users = new List<User>();
    protected override void OnInitialized()
    {
        users = UserService.GetUsers();
    }

}
