<h3>Blazor Web Component</h3>

<p>Count: @count</p>
<button @onclick="Increment">+</button>

@code {
    [Parameter]
    public int Start { get; set; } = 0;

    private int count;

    protected override void OnInitialized()
    {
        count = Start;
    }

    private void Increment() => count++;
}