
<h3>Account Setting</h3>
<input type="checkbox" @bind="IsSubscribed" />
<label>Subscribe to newsletter</label>
<p>Status:@(IsSubscribed?"Subscribed":"Not Subscribed")</p>
@code {
    bool IsSubscribed;
}
