@using HandsOnOrderManagementDashboard.Models
<h3>Order Managment Dashboard</h3>
<OrderFilter OnFilterChanged="ApplyFilter" />
<div class="row">
    <div class="col-6">
        <OrderList Orders="FilteredOrders" OrderSelected="SelectOrder" />
    </div>
    <div class="col-6">
        @if(SelectedOrder!=null)
        {
            <OrderDetails Order="SelectedOrder" OnStatusUpdated="UpdateStatus" />
        }
    </div>
</div>

@code {
    List<Order> Orders = new List<Order>
    {
        new Order { CustomerName = "Alice", Status = "Pending",Amount=5000},
        new Order { CustomerName = "Bob", Status = "Approved",Amount=12000 },
        new Order { CustomerName = "Charlie", Status = "Approved",Amount=20000 }
    };
    List<Order> FilteredOrders;
    Order SelectedOrder;
    protected override void OnInitialized()
    {
        FilteredOrders = Orders;
    }
    void SelectOrder(Order order)
    {
        SelectedOrder = order;
        StateHasChanged();
    }
    void UpdateStatus(Order updateOrder)
    {
        SelectedOrder.Status = updateOrder.Status;
        StateHasChanged();
    }
    void ApplyFilter(string status)
    {
        FilteredOrders = string.IsNullOrEmpty(status) ? Orders :
        Orders.Where(o => o.Status == status).ToList();
        StateHasChanged();
    }
}
