<h3>UserDetails</h3>
<div class="container">
    <pre>
        Name:@Name
        Role:@Role
    </pre>
</div>

@code {
    [Parameter] public string Name { get; set; }
    = "";
    [Parameter] public string Role { get; set; } 
    = "";
}
