@page "/admin-dashboard/{UserName}"
@inject NavigationManager Navigation
@rendermode InteractiveServer
<h3>Welcome to AdminDashboard</h3>
<p>Hello,@UserName</p>
@* <button class="btn btn-primary" @onclick="LogOut">Log Out</button> *@
@code {
    [Parameter]
    public string UserName { get; set; }
    private async Task LogOut()
    {
        Navigation.NavigateTo("/login"); // Redirect to Login page
    }
}
