@page "/login"
@using HandsOnBlazorNavigationAndRouting.Models
@inject NavigationManager Navigation
@inject HandsOnBlazorNavigationAndRouting.Services.UserService UserService
@rendermode InteractiveServer
@inject HandsOnBlazorNavigationAndRouting.Services.AppState AppState
<h3>Login</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow-sm">
                <EditForm Model="@loginModel" OnValidSubmit="Validate">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <InputText class="form-control" @bind-Value="loginModel.Email" />
                        <ValidationMessage For="@(() => loginModel.Email)" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <InputText type="password" class="form-control" @bind-Value="loginModel.Password" />
                        <ValidationMessage For="@(() => loginModel.Password)" />
                    </div>
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <div class="alert alert-danger" role="alert">
                            @errorMessage
                        </div>
                    }
                    <button type="submit" class="btn btn-primary">Login</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>
@code {
    private LoginModel loginModel = new();
    private User? user = new();
    private string errorMessage = string.Empty;
    async void Validate()
    {
        var email = loginModel.Email;
        var password = loginModel.Password;
        user = UserService.Authenticate(email, password);
        if (user != null)
        {
            var userName = user.Name;
            AppState.IsLoggedIn = true;
            if (user.Role == "User")
            {
                //set IsUser in AppState to true
                AppState.IsUser = true;
                Navigation.NavigateTo("/user-dashboard/"+userName,true);
            }
            else if (user.Role == "Admin")
            {
                //set IsAdmin in AppState to true
                AppState.IsAdmin = true;
                Navigation.NavigateTo("/admin-dashboard/"+userName,true);
            }
        }
        else

        {
            errorMessage = "Invalid Credentials";
        }
    }
}
